In [6]:
import os
import re
import json
import time
import requests
import pandas as pd
from ping3 import ping
from scapy.all import traceroute

In [12]:
def get_re_url(url, expr):
    result = {}
    
    response = requests.get(url)
    
    for k, v in expr.items():
        search_result = re.search(v, response.text)
        
        if search_result != None:
            result[k] = search_result.groups()[0]
        else:
            result[k] = ""
    
    return result

In [13]:
def request_extreme_ip_lookup():
    def wrapped(ip):
        data = get_re_url(f"https://extreme-ip-lookup.com/{ip}", {
            "data": 'URLIP={([^}]+)}'
        })

        obj = json.loads("{" + data["data"] + "}")
    
        return {
            "hostname": obj["ipName"]
            ,"country": obj["country"]
            ,"state": obj["region"]
            ,"city": obj["city"]
            ,"isp": obj["isp"]
            ,"latitude": obj["lat"]
            ,"longitude": obj["lon"]
        }
    
    return wrapped

In [14]:
def request_whatismyipaddress():
    def wrapped(ip):
        data = get_re_url(f"https://whatismyipaddress.com/ip/{ip}", {
            "hostname": '<tr>[ |\t|\n||\r]*<th>[ |\t|\n||\r]*Hostname:[ |\t|\n||\r]*<\/th><td>(.*)[ |\t|\n||\r]*<\/td>'
            ,"country": '<tr>[ |\t|\n||\r]*<th>[ |\t|\n||\r]*Country:[ |\t|\n||\r]*<\/th><td>(.*)<img'
            ,"state": '<tr>[ |\t|\n||\r]*<th>[ |\t|\n||\r]*State\/Region:[ |\t|\n||\r]*<\/th><td>(.*)[ |\t|\n||\r]*<\/td>'
            ,"city": '<tr>[ |\t|\n||\r]*<th>[ |\t|\n||\r]*City:[ |\t|\n||\r]*<\/th><td>(.*)[ |\t|\n||\r]*<\/td>'
            ,"isp": '<tr>[ |\t|\n||\r]*<th>[ |\t|\n||\r]*ISP:[ |\t|\n||\r]*<\/th><td>(.*)[ |\t|\n||\r]*<\/td>'
            ,"latitude": '<tr>[ |\t|\n||\r]*<th>[ |\t|\n||\r]*Latitude:[ |\t|\n||\r]*<\/th><td>[ |\t|\n||\r]*(.*)[ |\t|\n||\r]*<\/td>'
            ,"longitude": '<tr>[ |\t|\n||\r]*<th>[ |\t|\n||\r]*Longitude:[ |\t|\n||\r]*<\/th><td>[ |\t|\n||\r]*(.*)[ |\t|\n||\r]*<\/td>'
        })
    
        return data
    
    return wrapped

In [32]:
def traceroute_table(uri, deltatime=1, minttl=1, maxttl=32, metainfo=False):
    result, _ = traceroute(uri, minttl=minttl, maxttl=maxttl, verbose=False)

    table = []
    for snd, rcv in result:
        tmp = (
            snd.ttl
            , rcv.src
            , (rcv.time - snd.sent_time)*1000
        )
        
        cols = ["ttl", "address", "ms"]
        
        if metainfo:
            result = request_extreme_ip_lookup()(rcv.src)
            time.sleep(deltatime)
            
            tmp = (
                *tmp
                , result["hostname"]
                , result["country"]
                , result["state"]
                , result["city"]
                , result["isp"]
                , result["latitude"]
                , result["longitude"]
            )
            
            cols = [*cols, "hostname", "country", "state", "city", "isp", "latitude", "longitude"]
        
        table.append(tmp)

    table_df = (
        pd.DataFrame(table, columns=cols)
        .drop_duplicates(subset=["address"], keep="first")
    )

    return table_df

In [34]:
traceroute_table("www.cmjornal.pt", metainfo=True)

,ttl,address,ms,hostname,country,state,city,isp,latitude,longitude
0,1,192.168.15.1,1.555681,,,,,,,
1,2,179.185.128.209,2.499342,179.185.128.209.dynamic.adsl.gvt.net.br,Brazil,Sao Paulo,Indaiatuba,Telefonica Brasil S.a,-23.08842,-47.2119
2,3,177.16.40.9,4.981756,177.16.40.9.static.host.gvt.net.br,Brazil,Parana,Curitiba,Telefonica Brasil S.a,-25.42778,-49.27306
3,4,152.255.133.70,4.060745,152-255-133-70.user.vivozap.com.br,Brazil,Sao Paulo,Sao Paulo,Telefonica Brasil S.a,-23.5475,-46.63611
4,6,216.184.112.148,16.278744,grtfortw1-0-1-0-24-0-4.net.telefonicaglobalsol...,United States,Florida,Miami,Telxius,25.77427,-80.19366
5,8,94.142.127.50,78.683853,,Spain,Madrid,Madrid,Telxius,40.4165,-3.70256
6,7,94.142.98.175,81.098795,,Spain,Madrid,Madrid,Telxius,40.4165,-3.70256
7,10,154.54.47.29,80.039978,be3401.ccr22.mia01.atlas.cogentco.com,United States,Florida,Miami,African Network Information Center,25.77427,-80.19366
8,12,154.54.24.221,95.787525,be2113.ccr42.dca01.atlas.cogentco.com,United States,Virginia,Arlington,African Network Information Center,38.88101,-77.10428
9,9,154.54.11.157,99.331617,be3017.ccr21.mia03.atlas.cogentco.com,United States,Florida,Miami,African Network Information Center,25.77427,-80.19366
10,11,154.54.24.145,97.336531,be3482.ccr41.atl01.atlas.cogentco.com,United States,Georgia,Atlanta,African Network Information Center,33.749,-84.38798
12,14,149.6.32.6,198.551416,nos-comunicacoes.demarc.cogentco.com,Spain,Madrid,Madrid,"PSINet, Inc.",40.4165,-3.70256
13,15,149.6.108.46,199.977160,nos-comunicacoes.demarc.cogentco.com,Belgium,Vlaanderen,Antwerpen,"PSINet, Inc.",51.21989,4.40346
14,17,88.157.186.58,213.418961,a88-157-186-58.static.cpe.netcabo.pt,Portugal,Lisbon District,Lisbon,Nos Comunicacoes S.a.,38.71667,-9.13333
15,19,88.157.217.146,212.771893,a88-157-217-146.static.cpe.netcabo.pt,Portugal,Braga,Guimaraes,Nos Comunicacoes S.a.,41.44443,-8.29619

In [12]:
traceroute_table("www.polytechnique.edu", metainfo=True)

,ttl,address,hostname,country,state,city,isp,latitude,longitude,ms
0,1,192.168.15.1,,,,,,,,0.719547
1,2,179.185.128.209,179.185.128.209.dynamic.adsl.gvt.net.br,Brazil,Sao Paulo,Indaiatuba,Telefonica Brasil S.a,-23.08842,-47.2119,2.481699
2,3,177.16.40.11,177.16.40.11.static.host.gvt.net.br,Brazil,Parana,Curitiba,Telefonica Brasil S.a,-25.42778,-49.27306,3.711224
3,4,152.255.133.70,152-255-133-70.user.vivozap.com.br,Brazil,Sao Paulo,Sao Paulo,Telefonica Brasil S.a,-23.5475,-46.63611,5.006313
4,6,5.53.1.202,,Spain,Madrid,Madrid,Telxius,40.4165,-3.70256,15.697002
5,7,94.142.127.50,,Spain,Madrid,Madrid,Telxius,40.4165,-3.70256,79.119682
6,8,84.16.15.165,,United States,New York,New York,Telxius,40.71427,-74.00597,82.249880
7,9,208.116.240.149,ae5.cr6-mia1.ip4.gtt.net,United States,Georgia,Atlanta,GTT,33.749,-84.38798,84.307909
8,10,213.200.119.214,et-3-3-0.cr4-par7.ip4.gtt.net,United States,Illinois,Chicago,GTT,41.85003,-87.65005,167.256832
10,11,193.51.180.131,,France,Nouvelle-Aquitaine,Pau,Renater,43.3,-0.36667,175.936460
9,12,194.199.156.25,,France,Ile-de-France,Paris,Renater,48.85341,2.3488,171.741486
12,14,129.104.30.29,drupal.polytechnique.fr,France,Ile-de-France,Palaiseau,Renater,48.71667,2.25,177.788258

In [7]:
LOL_NETWORK_LOGS_FOLDER = "C:\Riot Games\League of Legends\Logs\GameLogs"

logs_files_path = []

# Walk through the folders
for root, subfolders, files in os.walk(LOL_NETWORK_LOGS_FOLDER):
    # Pass by all files
    for file in files:
        # Filter the files with .csv extention
        if file.endswith(".csv"):
            # Add in the list
            logs_files_path.append(os.path.join(root, file))
            
            
ips = pd.DataFrame()


# Open and extract info
for log_path in logs_files_path:
    log = pd.read_csv(log_path, delimiter=",")[['network.rtt_average', 'network.rtt_jitter', 'network.peer_address', 'network.packets_lost']]
    
    # Transform the meas
    log['network.rtt_jitter'] = log['network.rtt_jitter'] * 1000
    log['network.rtt_average'] = log['network.rtt_average'] * 1000
    
    ips = pd.concat([ips, log])


# Group by
ips = ips.groupby('network.peer_address').mean().reset_index() \
         .rename(columns={'network.peer_address': 'network.ip', 'network.rtt_average': 'network.ping.ms'})


# Measure the new ping
ips['network.new_ping.ms'] = ips['network.ip'].apply(lambda x: ping(x) * 1000)

In [35]:
traces_df = pd.DataFrame()

for i, ip in enumerate(ips["network.ip"]):
    temp_df = traceroute_table(ip)
    temp_df["trace"] = i
    
    traces_df = pd.concat([traces_df, temp_df])

In [36]:
traces_df

    ttl          address         ms  trace
0     1     192.168.15.1   1.246214      0
1     2  179.185.128.209   4.538059      0
2     3      177.16.40.9   2.120256      0
3     4   152.255.140.69  61.657667      0
0     1     192.168.15.1   0.764608      1
1     2  179.185.128.209   1.924276      1
2     3     191.30.9.239   5.239010      1
3     4   152.255.140.69  64.937353      1
0     1     192.168.15.1   1.440525      2
1     2  179.185.128.209   4.419565      2
2     3      177.16.40.9   3.977537      2
3     4   152.255.140.27  56.581974      2
0     1     192.168.15.1   0.542879      3
1     2  179.185.128.209   2.177000      3
2     3     177.16.40.11   3.625631      3
3     4   152.255.140.69  63.242674      3
0     1     192.168.15.1   1.001835      4
1     2  179.185.128.209   1.295328      4
2     3     191.30.9.243   4.026413      4
3     4   152.255.140.27  58.055639      4
0     1     192.168.15.1   0.619173      5
1     2  179.185.128.209   2.918482      5
2     3      177.16.40.7   2.296925      5
3     4   152.255.140.69  60.423136      5
0     1     192.168.15.1   0.848293      6
1     2  179.185.128.209   2.107382      6
2     3     191.30.9.243   5.804062      6
3     4   152.255.140.27  62.180758      6
0     1     192.168.15.1   1.294851      7
1     2  179.185.128.209   2.989054      7
..  ...              ...        ...    ...
2     3      177.16.40.7   2.775669     10
3     4   152.255.140.69  60.489178     10
0     1     192.168.15.1   1.518965     11
1     2  179.185.128.209   3.908396     11
2     3      177.16.40.7   3.108263     11
3     4   152.255.140.27  59.262991     11
0     1     192.168.15.1   1.115322     12
1     2  179.185.128.209   2.039909     12
2     3     191.30.9.241   4.966974     12
3     4   152.255.140.69  66.103697     12
0     1     192.168.15.1   0.940084     13
1     2  179.185.128.209   3.243446     13
2     3     191.30.9.243   4.192829     13
3     4   152.255.140.69  62.951088     13
0     1     192.168.15.1   1.684427     14
1     2  179.185.128.209   4.739523     14
2     3      177.16.40.7   4.283667     14
3     4   152.255.140.27  61.620474     14
0     1     192.168.15.1   1.309633     15
1     2  179.185.128.209   2.085686     15
2     3     191.30.9.243   6.290197     15
3     4   152.255.140.69  67.084551     15
0     1     192.168.15.1   1.063347     16
1     2  179.185.128.209   2.918005     16
2     3      177.16.40.7   3.716469     16
3     4   152.255.140.69  62.891483     16
0     1     192.168.15.1   0.972986     17
1     2  179.185.128.209   1.946449     17
2     3      177.16.40.7   4.641056     17
3     4   152.255.140.69  63.885927     17

[72 rows x 4 columns]